@model Web.ViewModels.Session.SessionCreateVM
<h2>Создание сеанса</h2>
<br />
@Html.Partial("_Alert")
@using (Html.BeginForm("create", "Session", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="col-md-5">
                    <div class="form-group">
                        <div id="remote">
                            <input id="remote" class="form-control" type="text" placeholder="Название фильма">
                        </div>
                        <input type="hidden" class="form-control" name="@(nameof(Model.FilmID))" value="@Model.FilmID" id="@(nameof(Model.FilmID))">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input class="form-control" name="@(nameof(Model.StartingDate))" value="@Model.StartingDate" id="@(nameof(Model.StartingDate))" placeholder="Дата сеанса">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
}
<script src="~/Scripts/Session/Create/Create.js"></script>