@model Web.ViewModels.Session.SessionCreateVM

<h2>Создание сеанса</h2>
<br />
@{
    if (ViewBag.SuccessResult != null)
    {
        <div class="alert alert-success" role="alert">@ViewBag.SuccessResult</div>
    }
        @Html.ValidationSummary("", new { @class = "alert alert-danger removeBullet" })
}
@using (Html.BeginForm("create", "Session", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="col-md-5">
                    <div class="form-group">
                        <div id="remote">
                            <input id="remote" class="form-control" type="text" placeholder="Название фильма">
                        </div>
                        <input type="hidden" class="form-control" name="@(nameof(Model.FilmID))" value="@Model.FilmID" id="@(nameof(Model.FilmID))">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input class="form-control" name="@(nameof(Model.StartingDate))" value="@Model.StartingDate" id="@(nameof(Model.StartingDate))" placeholder="Дата сеанса">
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Создать</button>
                </div>
            </form>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('#StartingDate')
            .datetimepicker({
                format: 'MM.DD.YYYY HH:mm',
                locale: "ru",
                minDate: new Date()
            });

        var bestPictures = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,

            remote: {
                url: '../api/films/%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#remote .form-control').typeahead(null, {
            name: 'best-pictures',
            display: 'Name',
            source: bestPictures
        });

        var numSelectedHandler = function (eventObject, suggestionObject, suggestionDataset) {
            console.log(suggestionObject)
            $("#@(nameof(Model.FilmID))").val(suggestionObject.ID);
        };
        $('#remote').on('typeahead:selected', numSelectedHandler);
    });

</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
